<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="https://favicon.io/emoji-favicons/alien-monster">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duck 4 President</title>
    <script src="static/htmx.min.js"></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script> -->
    <link rel="stylesheet" href="css/styles.css">
    <script>

        const ws = new WebSocket('ws://' + window.location.host + '/ws');

        // Change binary type from "blob" to "arraybuffer"
        ws.binaryType = "arraybuffer";

        function stringToByteArray(byteString) {
            // Remove brackets and whitespace, then split by commas
            const cleanedString = byteString.replace(/[\[\]]/g, ''); // Remove brackets
            // console.log("cleaned string: " + cleanedString);
            // Split the string by spaces to get individual byte values
            const byteValues = cleanedString.trim().split(/\s+/).map(value => parseInt(value, 10)); // Split by any whitespace

            // Create and return a Uint8Array from the byte values
            return new Uint8Array(byteValues);
        }

        ws.onopen = () => {
            console.log('Connected');
            ws.send("ping");
        };

        ws.onmessage = (event) => {
            // console.log("Raw: " + event.data);
            const byteArray = stringToByteArray(event.data);

            let decoder = new TextDecoder("utf-8");
            let message = decoder.decode(byteArray.slice(1)); // Decode starting from the second byte
            let voteCnt = byteArray[0]; // Get the first byte as a number
            let jsonMessage = JSON.parse(message);

            console.log("Message from server to client: \n" + message);
            console.log("Vote count: " + voteCnt);

            // Assuming jsonMessage.Name contains the ID of the HTML element
            const element = document.getElementById(jsonMessage.Name);
            if (element) {
                element.innerHTML = voteCnt; // Set the inner HTML to the vote count
            } else {
                console.error("Element not found: " + jsonMessage.Name);
            }
        };

        ws.onclose = (event) => {
            console.log('websocket closed:', event);
        };

        ws.onerror = (error) => {
            console.error('WebSocket error:', error);
        };

    </script>



</head>

<body>
    <header>
        <h1>VOTE FOR YOUR 2024 PRESIDENT</h1>
    </header>

    <main>
        <h2 id="candidates" style="text-align: center; margin-top: 30px;">Our Candidates</h2>
        <div class="flex-container">
            <div id="imgContainer2" class="container">
                <img src="images/KH.jpg" alt="Kamala Harris" width="300">
                <h3>Kamala Harris</h3>
                <div id="Kamala Harris" class="count-div">
                    <!-- {{range .Noms}}{{if eq .Name "Kamala Harris"}}{{.VoteCnt}}{{end}}{{end}} -->
                </div>
            </div>
            <!-- hx-get="/vote/Duck" hx-target="#duck-div" hx-swap="innerHTML" -->
            <div id="imgContainer1" class="container">
                <img src="images/d4p.jpg" alt="Duck 4 Prez" width="300">
                <h3>Duck</h3>
                <div id="Duck" class="count-div">

                    <!-- {{range .Noms}}{{if eq .Name "Duck"}}{{.VoteCnt}}{{end}}{{end}} -->
                </div>
            </div>
            <div id="imgContainer3" class="container">
                <img src="images/DT.avif" alt="Donald Trump" width="300">
                <h3>Donald Trump</h3>
                <div id="Donald Trump" class="count-div">
                    <!-- {{range .Noms}}{{if eq .Name "Donald Trump"}}{{.VoteCnt}}{{end}}{{end}} -->
                </div>
            </div>
        </div>
    </main>

    <script>
        function trackClicks(candidate) {
            const json_candidate = {Name: candidate}
            json_payload_to_server = JSON.stringify(json_candidate)
            if (ws.readyState === WebSocket.OPEN) {
                ws.send(json_payload_to_server)
            }
            else {
                console.log('Failed to send payload to server: Websocket is not open.\n')
            }
        }

        // Attach click event listeners to each container
        document.getElementById('imgContainer2').addEventListener('click', () => trackClicks("Kamala Harris"));
        document.getElementById('imgContainer1').addEventListener('click', () => trackClicks("Duck"));
        document.getElementById('imgContainer3').addEventListener('click', () => trackClicks("Donald Trump"));

    </script>




    <p id="output"></p>

    <footer>
        <p>&copy; 2024 Duck 4 President Campaign. All rights reserved.</p>
        <p>Disclaimer: This is a fictional website for entertainment purposes only.</p>
    </footer>
</body>

</html>
